<a href="https://colab.research.google.com/github/chiefryra/DQLab/blob/main/Dataset/testOnGithub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')

In [2]:
movie_df.head()

      tconst  titleType  ... runtimeMinutes             genres
0  tt0221078      short  ...             \N  Documentary,Short
1  tt8862466  tvEpisode  ...             \N       Comedy,Drama
2  tt7157720  tvEpisode  ...             29   Comedy,Game-Show
3  tt2974998  tvEpisode  ...             \N               News
4  tt2903620  tvEpisode  ...             \N        Documentary

[5 rows x 9 columns]

In [3]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9025 entries, 0 to 9024
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          9025 non-null   object
 1   titleType       9025 non-null   object
 2   primaryTitle    9011 non-null   object
 3   originalTitle   9011 non-null   object
 4   isAdult         9025 non-null   int64
 5   startYear       9025 non-null   object
 6   endYear         9025 non-null   object
 7   runtimeMinutes  9025 non-null   object
 8   genres          9014 non-null   object
dtypes: int64(1), object(8)
memory usage: 634.7+ KB

In [4]:
# Clone the entire repo.
!git clone -l -s git://github.com/chiefryra/DQLab DQLab
%cd DQLab
!ls

Cloning into 'DQLab'...
warning: --local is ignored
remote: Enumerating objects: 124, done.
remote: Counting objects: 100% (16/16), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 124 (delta 1), reused 13 (delta 1), pack-reused 108
Receiving objects: 100% (124/124), 18.77 MiB | 22.30 MiB/s, done.
Resolving deltas: 100% (35/35), done.
/content/DQLab
Dataset  Learn	LICENSE  README  README.md

In [6]:
!git push https://github.com/chiefryra/DQLab.git

fatal: could not read Username for 'https://github.com': No such device or address